torch
transformers
x-transformers
sentence-transformers
sentencepiece
lightning
peft
wandb
hydra-core
tqdm
numpy
ipykernel
hydra-submitit-launcher
einx
einops
matplotlib
pandas
datasets
entmax
flash-attn
triton
ftfy
pytorch_metric_learning
mteb